.container {
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	width: 940px;
}

#all {}
	
#header {
	background: #092162 url(../images/logo-bg.jpg) center -100px no-repeat;
}
#header > div {
	background: url(../images/header_bg2.png) center top repeat-x;
	padding-top: 6px;
	position: relative;
	z-index: 10;
}

#header .container { height: 102px; }

#masthead { background: #092162 url(../images/logo-bg.jpg) center -100px no-repeat; }
#masthead > div { background: url(../images/masthead_bg.png) center top repeat-x; }
#masthead > div > div { 
	background: url(../images/masthead_bg2.png) center bottom repeat-x;
	padding-top: 30px;
}

#body {
	background: white;
	padding:  45px 0;
}

#body > div { 
	background: url(../images/sidebar_bg_middle.png) right repeat-y;
	margin: 1px auto;
}
#topfrill, #bottomfrill {
	position: absolute;
	right: 0;
	z-index: 1;
}
#topfrill { top: -65px; }
#bottomfrill { bottom: -66px; }
#topfrill img, #bottomfrill img { display: block; }

#component {
	float: left;
	position: relative;
	width: 540px;
	z-index: 2;
}

#sidebar {
	float: left;
	margin: 0 25px 0 105px;
	padding-left: 15px;
	position: relative;
	width: 255px;
	z-index: 2;
}

#footer {
	background: url(../images/footer_bg.png) repeat-x;
	line-height: 1.3em;
	min-height: 238px;
	padding-top: 30px;
}